body{
	background-image:url('../Images/backgroundimage.jpg');
	background-size:1300px 1000px;
	background-repeat:no-repeat;
}
header{

}
nav{
  padding-left:45px;
	margin:0 auto;
	width:950px;
	background-color:orange;
	border:2px solid #000;
}
li{
	padding-left:25px;
	padding-right:25px;
	border:1px solid #000;
	font-size:20px;
	margin-right:25px;
	display:inline;
	width: 50px;
	list-style-type:none;
	background-color:yellow;
}
a{
	text-decoration:none;
}
div{
	width:950px;
	margin:auto;
	margin-top:10px;
}
img{
	float:left;
	width:300px;
	height:300px;
}
.firstp{
	color:#FFD700;
	margin:auto;
	font-size:25px;
}
.secondp{ 
	color:#FFD700;
	margin:auto;
	font-size:25px;
}
.secondli{
	width:400px;
	height:50px;
	clear:both;
	float:left;
}
.thirdp{ 
	color:#FFD700;
	margin:auto;
	font-size:25px;
}

footer{
	clear:both;
	width:950px;
	margin:auto;
	background-color:gray;
}
.fourthp{
	margin:auto;
	width:950px;
	font-size:22px;
	text-align:center;
	color:yellow;
}