body{
	background-image:url('../Images/backgroundimage.jpg');
	background-size:100% 100%;
	background-repeat:no-repeat;
}
nav{
  padding-left:45px;
	margin:0 auto;
	width:950px;
	background-color:orange;
	border:2px solid #000;
}
li{
	padding-left:25px;
	padding-right:25px;
	border:1px solid #000;
	font-size:20px;
	margin-right:25px;
	display:inline;
	width: 50px;
	list-style-type:none;
	background-color:yellow;
}
a{
	text-decoration:none;
}
div{
	width:950px;
	margin:auto;
	margin-top:10px;
}
img{
  margin-left:60px;
  margin-bottom:40px;
	float:left;
	width:75px;
	height:75px;
}
.firstp{
  text-align:center;
	color:#FFD700;
	margin:50px;
	font-size:22px;
}
footer{
  clear:both;
	width:950px;
	margin:auto;
	background-color:gray;
}
.secondp{
  clear:both;
	margin:auto;
	width:950px;
	font-size:22px;
	text-align:center;
	color:yellow;
}